/* Site Wide */
.clearfix {
    clear: both;
}

#site-nav {
    height: 52px;
}


#logo {
    float: left;
    height: 75%;
}


#nav-links {
    float: right;
    list-style: none;
}

#nav-links li {
    display: inline-block;
}

#nav-links a {
   color: rgb(255, 255, 255)

}

.boxed {
    border: 20px solid rgba(0, 0, 0, 0.041);
  }

