/* Site Wide */
.clearfix {
    clear: both;
}

#site-nav {
    height: 52px;
}


#logo {
    float: left;
    height: 75%;
}


#nav-links {
    float: right;
    list-style: none;
}

#nav-links li {
    display: inline-block;
}

#nav-links a {
    color: rgb(255, 255, 255)
}

.boxed {
    border: 20px solid rgba(0, 0, 0, 0.041);
}

body,
#app {
    min-height: 100vh;
    height: 100%;
}

#footer,
#header .top {
    color: #fff;
    background: #000;
}

#header{
    margin-bottom: 1rem;
}
#header .top {
    padding: 1em 0;
}

#header .bottom {

}

.column {
    display: flex;
    flex-flow: column;
    padding: 1em;
}

.column.bottom {
    align-self: flex-end;
}

.column + .column {
    margin-left: 30vw;
}

.full-container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex, .row {
    display: flex;
}

.flex.between {
    justify-content: space-between
}

.flex.center{
    align-items: center;

}
.controls * {
    margin: 0 0.5rem;
}

.social {
    margin-bottom: 1rem;
}

.icon {
    border-radius: 100%;
    background: #fff;
    width: 35px;
    height: 35px;
}

.icon + .icon {
    margin-left: 0.75rem;
}

.search-bar{
    border: 1px solid #000;
    width: 225px;
    padding: 0.25rem 1rem;
    border-radius: 5px;
}

#main-nav li{
    margin: 0.5rem;
}

.slogan{
    text-align: center;
}

.welcome{
    background: #000;
    color: #fff;
    text-align: center;
    margin-bottom: 1rem;
}

.card {
    position: relative;
    padding: 0.5rem;
    overflow: hidden;
}

.card.large {
    height: 300px;
}

.card .info{
    position: absolute;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.4);
    padding: 1rem 1rem;
    width: 100%;
    color: #fff;
}